<head>
    <title>Gmail-Box</title>
    <link rel="stylesheet" href="mail.component.css">
  </head>
  <div class="lg-side">
    <div class="head">
        <h3>Inbox (16)</h3>
        <form class="pull-right position" action="#">
            <div class="input-append">
                <input type="text" placeholder="Search email" class="sr-input">
                <button type="button" class="btn sr-btn">Search
                </button>
            </div>
        </form>
    </div>
    <div align=center class="spin-icon">
        <i class="fa fa-cogs fa-spin"> </i>
    </div>
    <div class="buttons">
        <div class="option">
            <div>
                <button class="btn btn-default btn-sm"><i class="fa fa-refresh"></i> Refresh</button>
                <button class="btn btn-default btn-sm"><i class="fa fa-eye"></i></button>
                <button class="btn btn-default btn-sm"><i class="fa fa-exclamation"></i></button>
                <button class="btn btn-default btn-sm"><i class="fa fa-trash-o"></i></button>
                <ul class="arrows">
                    <div class="btn-group float-right">
                        <button class="btn btn-default btn-sm"><i
                                class="fa fa-arrow-left"></i></button>
                        <button class="btn btn-default btn-sm"><i
                                class="fa fa-arrow-right"></i></button>
                    </div>
                </ul>
            </div>
        </div>
    </div>
    <table class="table table-inbox table-hover">
        <tbody>
            <tr class="unread">
                <td>
                    <input type="checkbox">
                </td>
                <td>Anna Smith</td>
                <td>Lorem ipsum dolor noretek imit set.</td>
                <td><i class="fa fa-paperclip"></i></td>
                <td>6.10 AM</td>
            </tr>
            <tr class="unread">
                <td>
                    <input type="checkbox">
                </td>
                <td>Jack Nowak</td>
                <td>Aldus PageMaker including versions of Lorem Ipsum.</td>
                <td></td>
                <td>8.22 PM</td>
            </tr>
            <tr class="">
                <td>
                    <input type="checkbox">
                </td>
                <td>Facebook
                    <span class="label label-warning pull-right">Clients</span>
                </td>
                <td>Many desktop publishing packages and web page editors.
                </td>
                <td></td>
                <td>Jan 16</td>
            </tr>
            <tr class="">
                <td>
                    <input type="checkbox">
                </td>
                <td>Mailchip</td>
                <td>There are many variations of passages of Lorem Ipsum
                </td>
                <td></td>
                <td>Mar 22</td>
            </tr>
            <tr class="">
                <td>
                    <input type="checkbox">
                </td>
                <td>Alex T. <span
                        class="label label-danger pull-right">Documents</span></td>
                <td>Lorem ipsum dolor noretek imit set.</td>
                <td><i class="fa fa-paperclip"></i>
                </td>
                <td>December 22</td>
            </tr>
            <tr class="">
                <td>
                    <input type="checkbox">
                </td>
                <td>Monica Ryther</td>
                <td>The standard chunk of Lorem Ipsum used.</td>
                <td></td>
                <td>Jun 12</td>
            </tr>
            <tr class="">
                <td>
                    <input type="checkbox">
                </td>
                <td>Sandra Derick</td>
                <td>Contrary to popular belief.</td>
                <td></td>
                <td>May 28</td>
            </tr>
            <tr class="">
                <td>
                    <input type="checkbox">
                </td>
                <td>Patrick Pertners
                    <span class="label label-info pull-right">Adv.</span>
                </td>
                <td>If you are going to use a passage of Lorem
                </td>
                <td></td>
                <td>May 28</td>
            </tr>
           <tr class="">
                <td>
                    <input type="checkbox">
                </td>
                <td>Michael Fox</td>
                <td>Humour, or non-characteristic words etc.
                </td>
                <td></td>
                <td>Dec 9 </td>
            </tr>
            <tr class="">
                <td>
                    <input type="checkbox">
                </td>
                <td>Damien Ritz </td>
                <td>Oor Lorem Ipsum is that it has a
                    more-or-less normal.</td>
                <td></td>
                <td>Jun 11 </td>
            </tr>
          <tr class="">
                <td>
                    <input type="checkbox">
                </td>
                <td>Anna Smith</td>
                <td>Lorem ipsum dolor noretek imit set.</td>
                <td><i class="fa fa-paperclip"></i>
                </td>
                <td> 6.10 AM</td>
          <tr class="">
                <td>
                    <input type="checkbox">
                </td>
                <td>Jack Nowak</td>
                <td>Aldus PageMaker including versions of Lorem Ipsum.</td>
                <td></td>
                <td> 8.22 PM</td>
            </tr>
        </tbody>
      </table>
  </div>